@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: Helvetica;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.whole-app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-section-container {
  margin-right: 45%;
  padding: 3rem 2.6rem 1.5rem 3rem;
  max-width: 1000px;
}

.header {
  font-family: Helvetica;
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 0;
}

.currentDate {
  letter-spacing: 2px;
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  padding-top: 0;
  color: black;
  font-family: Helvetica;
}

.button {
  border: none;
  background-color: transparent;
  font-family: Helvetica;
  color: black;
  text-transform: uppercase;
  margin-top: 12px;
}

.button:hover {
  cursor: pointer;
  text-decoration: 1px line-through black;
}


textarea {
  margin-top: 10px;
  resize: none;
  min-height: min(30vh, 500px);
}

textarea,
input {
  outline: none;
  background-color: #fbf0ff;
  border: none;
  border-radius: .2rem;
  padding: 3px;
  font-family: Helvetica;
  color: black;
}

textarea::placeholder,
input::placeholder {
  color: black;
  font-family: Helvetica;
}

.entry-container {
  display: flex;
  flex-direction: column;
  margin: auto auto;
}


.entry-card {
  max-width: 600px;
  background-color: rgb(178, 139, 132, .7);
  border-radius: .2rem;
  padding: 0 2.6rem 1rem 3rem;
  box-shadow: 1px 10px 15px -3px hsl(24, 67%, 12%);
  text-align: left;
  color: black;
}

.entry-title {
  font-family: Helvetica;
  letter-spacing: 1px;
}

.entry-date {
  font-family: Helvetica;
}