@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #222222;
  font-family: Helvetica, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-width: 50%;
  padding: 45px;
  text-align: center;
  background-color: #222222;
  color: #f2f2f2;
}

.sign-in-button {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.whole-app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-entry-section-container {
  padding: 3rem 2.6rem 1.5rem 3rem;
  max-width: 100%;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 45px;
  margin-bottom: 0;
}

.currentDate {
  font-size: 25px;
  padding-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.new-entry-container {
  display: flex;
  flex-direction: column;
}

textarea {
  margin-top: 10px;
  resize: none;
  overflow: hidden;
  min-height: 60px;
  line-height: 1.7em;
  font-family: Helvetica, sans-serif;
  margin-bottom: 2em;
  display: block;
}

textarea,
input {
  font-size: 18px;
  outline: none;
  border: none;
  padding: 3px;
}

input,
input::placeholder {
  font-size: 18px;
}

.error-container {
  margin-top: 15px;
  padding: 25px;
  border: 0px solid rgb(255, 99, 71, .7);
  border-left: 5px solid;
  background-color: rgb(255, 99, 71, .2);
  max-width: 400px;
  text-align: left;
  font-size: 16px;
  color: rgb(255, 99, 71, 1);
  padding-left: 55px;
  position: relative;
}

.error-container:before {
  content: '!';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  font-weight: 900;
}

.success-container {
  margin-top: 15px;
  padding: 25px;
  border: 0px solid rgb(0, 152, 0, .7);
  border-left: 5px solid;
  background-color: rgb(0, 152, 0, .2);
  max-width: 400px;
  text-align: left;
  font-size: 16px;
  color: rgb(0, 152, 0, 1);
  padding-left: 65px;
  position: relative;
}

.success-container:before {
  content: '✓';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.25em;
  font-weight: 900;
}

.notification-container {
  transition: all .3s ease-in-out;
}

.notification-container.notActive {
  opacity: 0;
  transform: translateY(20px);
}

.notification-container.active {
  opacity: 1;
  transform: translateY(0);
}

.button {
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  background-color: rgb(0, 0, 0, .1);
}

.button-light {
  background: rgb(242, 242, 242);
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.side-header {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}

.side-header-bottom-content {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}


.side-entries-container {
  width: max(25%, 400px);
  height: 100vh;
  background-color: #f8f8f8;
  border-right: 1px solid #f2f2f2;
  position: sticky;
  top: 0;
  overflow-y: auto;
  padding-top: 25px;
}

.side-entry {
  border-bottom: .5px solid #c6c6c6;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.side-entry:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  color: #222222;
}

.side-entry-date,
.side-entry-title {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}